.DS_Store

# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/app/bower_components
/node_modules
/dist
/.tmp
/.sass-cache
/cordova/www
/dist/
/.tmp/
/.sass-cache/
/node_modules/
npm-debug.log
app/bower_components/
cordova/.cordova/
cordova/platforms/
cordova/plugins/
cordova/plugins
cordova/plugins/android.json
cordova/plugins/ios.json
cordova/www/
cordova/cca
cordova/cca.cmd

app/.DS_Store

app/.DS_Store

app/scripts/templates.js

app/scripts/.DS_Store

app/styles/.DS_Store

cordova/.DS_Store

app/scripts/templates.js

.DS_Store
