<ion-view title="Read">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" ng-controller="NoteDetailCtrl">
    <div class="list card">

  <div class="item item-avatar">
    <h2>Title: {{note.title}}</h2>
    <p>Category: {{note.category}}</p>
    <p>Created At: {{note.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>

  </div>
  <div class="item item-body">
    <h2>Description:</h2>
    <pre class="note-content">{{note.description}}</pre>
  </div>
  <div class="item item-body">
    <button class="button button-balanced button-block" ng-click="readpdf(note)">
  Read
</button>
  </div>

</div>
<div class="item item-divider">
    Comments
    </div>
    <ion-list>
      <ion-item ng-repeat="review in reviews">
        <span style="vertical-align:top"><h3>Comments: {{review.text}}</h3>
        <h3>Rating: {{review.rating}} Point</h3></span>
        <h3>Commented By: {{review.username}}</h3>
        <h3>Commented On: {{review.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</h3>
      </ion-item>
      <ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
 <div class="tabs tabs-icon-only">
    <a class="tab-item" ng-click="home()">
      <i class="icon ion-home"></i>
     
    </a>
    <a class="tab-item" ng-click="postComment()">
      <i class="icon ion-edit"></i>   
    </a>
    
</div>

</ion-view>
